import(package='flutter_view_widgets/flutter_view_widgets.dart')

home-page(flutter-view)
    scaffold
        app-bar(as='appBar')
            #title(as='title') Home
        center(as='body')
            .greeting Hello world!